<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>PF.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet_1</servlet-name>
        <servlet-class>PF.FileUploadServlet_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearArchivosServlet</servlet-name>
        <servlet-class>PF.crearArchivosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletusuario</servlet-name>
        <servlet-class>Manejador.servletusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinSioUne</servlet-name>
        <servlet-class>BD_UneSio.FinSioUne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGuardarFirma</servlet-name>
        <servlet-class>firma.ServletGuardarFirma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarFirma</servlet-name>
        <servlet-class>Manejador.EliminarFirma</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletGuardarFirma</servlet-name>
        <url-pattern>/ServletGuardarFirma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/servlet/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet_1</servlet-name>
        <url-pattern>/servlet/FileUploadServlet_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearArchivosServlet</servlet-name>
        <url-pattern>/servlets/crearArchivosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletusuario</servlet-name>
        <url-pattern>/Manejador/servletusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinSioUne</servlet-name>
        <url-pattern>/FinSioUne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarFirma</servlet-name>
        <url-pattern>/EliminarFirma</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
        <welcome-file>
            index.html
        </welcome-file>
        <welcome-file>
            index.htm
        </welcome-file>
    </welcome-file-list>
</web-app>
